/*---------------------------------------------------
	Navigation
---------------------------------------------------*/

.navlist {
	list-style: none;
	padding: 0;
	margin: 0;
}

.navlist--work {
	position: relative;
	text-align: center;

	@media (min-width: 991px) {
		width: 900px;
		margin: 0 auto;
	}
}

.nav-li {
	@media (max-width: 990px) {
		padding-top: 0.9rem;
	}

	@media (max-width: 600px) {
		text-align: center;
	}

	@media (min-width: 991px) {
		display: inline-block;
		line-height: 1;

		&:last-child {
			padding-right: 0;
		}
	}
}

.nav-li--primary {
	@media (max-width: 990px) {
		line-height: 1.5;
	}

	@media (min-width: 991px) {
		padding-right: 2.5rem;
	}
}

.nav-li--work {
	@media (max-width: 990px) {
		line-height: 1;
	}

	@media (min-width: 991px) {
		padding-right: 3.5rem;
	}
}


/* Work - hover effects (desktop only) */

@media (min-width: 991px) {
	.navlist--work__bar {
		position: absolute;
		top: 1.4rem;
		left: 5.8rem;
		background-color: rgba(100,100,200,0);
		width: 0;
		height: 0.3rem;
		transition: all 0.4s ease-in-out;
	}

	.nav-li--work {
		&:hover ~ .navlist--work__bar {
			width: 7rem;
		}
		
	  &:nth-of-type(1):hover ~ .navlist--work__bar {
	    left: 4.7rem;
	    background-color: #7303c0;
	  }
	  &:nth-of-type(2):hover ~ .navlist--work__bar {
	    left: 16.8rem;
	    background-color: #ca29bd;
	  }
	  &:nth-of-type(3):hover ~ .navlist--work__bar {
	    left: 27.8rem;
	    background-color: #ec38bc;
	  }
	  &:nth-of-type(4):hover ~ .navlist--work__bar {
	    left: 39rem;
	    background-color: #facaec;
	  }
	}
}

