@use "../var";

/*---------------------------------------------------
	Read more (text truncate show/hide)
---------------------------------------------------*/

@media (max-width: 767px) {
	.content {
		padding: 1rem;
		border: 1px solid var.$gdcLightGray;
		margin-bottom: 0.5rem;
		transition: max-height 0.7s ease;

		& > p {
			margin-top: 0;
		}	
	}

	.hideContent {
	  overflow: hidden;
	  max-height: 10rem;
	}

	.showContent {
	  max-height: 99rem;
	}
}


/* Toggle button */

.btn--toggle {
	display: block;
	background: none;
	border: none;
	padding: 0.5rem 1rem;
	margin: 0 auto;

	@media (min-width: 768px) {
		display: none;
	}
}

.hideContent + .btn--toggle {
	background-color: var.$gdcPurple;
	color: var.$white;
	border: 1px dashed var.$gdcPurple;
}

.showContent + .btn--toggle {
	background-color: var.$white;
	color: var.$gdcPurple;
	border: 1px dashed var.$gdcPurple;
}