/*---------------------------------------------------
	About Us
---------------------------------------------------*/

.aboutbox__imgwrap {
	position: relative;
}

.about-img {
	background-size: cover;
}

.about-overlay {
	position: absolute;
	z-index: 1;
	background-color: rgba(103,89,131,0.35);
}

.about-flex {
	display: flex;
	flex-direction: column;
}

/* Mobile */

@media (max-width: 767px) {
	.aboutbox {
		padding-bottom: 3rem;
	}

	.aboutbox__imgwrap {
		width: 100%;
		height: 100%;
		text-align: center;
	}

	.about-img,
	.about-overlay {
		display: inline-block;
		width: 16rem;
		height: 16rem;
	}	

	.about-overlay {
		left: 0;
		right: 0;
		margin: auto;
	}

	.aboutbox__txt .h2 {
		text-align: center;
	}
}


/* Desktop */

@media (min-width: 768px) {	
	.aboutbox:last-child {
		padding-bottom: 2rem;
	}

	.aboutbox__imgwrap {
		max-width: 100%;
	}

	.about-img {
		width: 27rem;
		height: 37rem;
	}

	.about-overlay {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.aboutbox__txt {
		flex: 1;
		padding-left: 2rem;
	}

	.aboutbox:nth-child(even) {
		.aboutbox__imgwrap {
			order: 2;
		}

		.aboutbox__txt {
			padding-left: 0;
			padding-right: 2rem;
		}
	}
}