/*---------------------------------------------------
	Header
---------------------------------------------------*/

.header {
	width: 100%;

	@media (max-width: 990px) {
		position: absolute;
		z-index: 2;
	}

	@media (min-width: 991px) {
		position: fixed;
		z-index: 999;
		background-color: transparent;
		box-shadow: 0px 4px 5px -4px rgba(0,0,0,0.15);
		@include transition;
	}
}

.header.active {
	@media (min-width: 991px) {
		background-color: $white;
	}
}

.header__inner {
	padding: 1rem;
	
	@media (min-width: 991px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.7rem 2rem;
	}
}

.header-logo {
	max-width: 15rem;
}

