/*---------------------------------------------------
  Projects (used on Homepage and Our Work)
---------------------------------------------------*/

.projects {
	text-align: center;
	
	@media (min-width: 768px) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

/* Project boxes */

.projectbox {
	position: relative;
	overflow: hidden;
	margin: 0 0 2rem;

	@media (min-width: 768px) {
		width: 50%;
		margin: 0;
	}
}

.projectbox__img {
	position: relative;
	width: 100%;
}

.projectbox__caption {
	padding: 2.4rem;
	backface-visibility: hidden;

	@include noPointer;
}


/* Project boxes - hover effects (desktop) */

.projectbox {
	background-color: $gdcPurple;
}

.projectbox__caption::before {
	position: absolute;
	top: -1.9rem;
	left: -2.6rem;
	width: 100%;
	height: 100%;
	background: url(./img/triangle.svg) no-repeat center center;
	background-size: 200% 100%;
	content: '';
	transform: scale3d(5,2.5,1);
	transform-origin: 50% 50%;
	transition: 
		opacity 0.35s, 
		transform 0.35s;
}

.projectbox__img {
	opacity: 0.85;
	transition: opacity 0.35s;
}

.projectbox .h3-projectbox {
	transition: transform 0.35s;
	transform: translate3d(0,40px,0);
}

@media (min-width: 768px) {
	.projectbox:hover .projectbox__img,
	.projectbox:hover .projectbox__caption::before {
		opacity: 0.6;
	}

	.projectbox:hover .projectbox__caption::before {
		transform: scale3d(1,1,1);
	}

	.projectbox:hover .h3-projectbox {
		transform: translate3d(0,0,0);
	}
}


/* Individual project page */

.project-area,
.project-area-fullwidth {
	@media (max-width: 767px) {
		.h2 {
			text-align: center;
		}
	}
}

.project-area {
	padding: 2rem;

	@media (min-width: 991px) {
	  padding: 4rem 6rem;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.project-area--flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
	@media (max-width: 990px) {
		flex-direction: column;
	}

	@media (min-width: 991px) {
		.project-area__imgwrap {
			//width: 60%;
			flex: 1.6;
		}

		.project-area__txt {
			//width: 37%;
			flex: 1;
			padding-left: 2rem;
		}
	}
}

.project-area__txt {
	position: relative;
	z-index: 2;
}

.project-area-fullwidth {
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	margin: 2rem 0
}

.project-area__overlay {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(103,89,131,0.8);
}

.project-reachout {
	background-color: rgba(103,89,131,0.4);
	text-align: center;
	padding: 2rem 2rem 3rem;
	margin-top: 2rem;

	@media (min-width: 768px) {
  	padding: 6rem 6rem 7rem;
  	margin-top: 4rem;
	}
	
	.h2 {
		font-size: 300%;
		line-height: 1.3;
		margin-top: 0;
	}

	p {
		font-weight: normal;
		font-size: 130%;
	}

	// Contact Us button
	.btn--nav {
		color: $white;
	}
}
