/*---------------------------------------------------
	Slick slides
---------------------------------------------------*/

.slide-overlay {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.9);
}

.slide-text {
	position: absolute;
	top: 28%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;

	@media (max-width: 450px) {
		display: none;
	}
}


// Slick - custom styles

.slick-list {
	max-height: 100vh;
}

.slick-track {
	@media (max-width: 767px) {
		min-height: 218px !important;
	}
}

.slick-slide {
	text-align: center;

	img {
		width: 100%;
		height: 100%;
	}
}

.slick-dots {
	bottom: 10px;
	z-index: 2;

	@media (max-width: 990px) {
		display: none !important;
	}

	@media (min-width: 991px) {
		bottom: 20px;
	}
}