@use "var";

/*---------------------------------------------------
	Buttons and Hyperlinks
---------------------------------------------------*/

.btn {
	@include var.transition;
}

button {
	cursor: pointer;
}


/* Nav */

.btn--nav { 
	display: inline-block;
  position: relative;
	color: var.$black;
	font-family: 'Poppins', sans-serif;
	line-height: 1.2;
	text-transform: uppercase;
	text-decoration: none;
}

button.btn--nav {
	background: none;
	border: none;
	padding: 0 0 0.3rem;
}


/* Primary nav */

$btnNavColors: (
  'purple': #7303c0,
  'hotpink': #ec38bc,
  'gray': #ccc,
);

.btn--nav-primary {
	font-size: 1rem;
	letter-spacing: 1px;
  vertical-align: middle;
  overflow: hidden;
  padding-bottom: 0.3rem;

  &::after {
    background: linear-gradient(
      to bottom,
      rgba( map_get($btnNavColors, 'gray'), 0.8),
      rgba( map_get($btnNavColors, 'gray'), 0.8)
    ) center 1.08rem / 100% 0.24rem no-repeat;

    content: "";
    position: absolute;
		top: 0.18rem;
    left: 0;
    z-index: -1;
    width: 400%;
    height: 100%;
    will-change: transform;
  }

  &:hover::after {
    background-image: linear-gradient(
      90deg, 
      rgba( map_get($btnNavColors, 'hotpink'), 0.8) 15%, 
      rgba( map_get($btnNavColors, 'purple'), 0.6) 35%,  
      rgba( map_get($btnNavColors, 'hotpink'), 0.8) 85%
    );
    animation: underline-gradient 6s linear infinite;
  }
}

@keyframes underline-gradient { 
  0%{
    transform: translate3d(0%, 0%, 0);
  }
  100%{
    transform: translate3d(-75%, 0%, 0);
  }
}

.btn--nav-primary.active::after {
  background-image: linear-gradient(
    90deg, 
    rgba( map_get($btnNavColors, 'hotpink'), 0.8) 15%, 
    rgba( map_get($btnNavColors, 'purple'), 0.6) 35%,  
    rgba( map_get($btnNavColors, 'hotpink'), 0.8) 85%
  );
}


/* Secondary nav */

.btn--nav-secondary {
	font-size: 1rem;

	&.active {
		color: #ec38bc;
	}
}


/* Text links */

.btn--text {
	color: var.$gdcPurple;
	text-decoration: none;
	border-bottom: 1px dashed var.$gdcGray;

	&:hover {
		border-bottom: 1px dashed transparent;
	}
}

.btn--text-footer {
	color: var.$gdcGray;
}

.btn--text-contactus {
	color: var.$white;
	border-bottom: 1px dashed var.$white;

	&:hover {
		border-bottom: 1px dashed transparent;
	}
}


/* Close button (used in Contact Us) */

.btn--close {
	display: block;
	background: none;
	border: none;
	padding: 0.5rem 1rem;
	margin: 0 auto;

	&, 
	&:focus {
		background-color: var.$white;
		color: var.$gdcPurple;
		border: 1px dashed var.$white;
	}
	

	&:hover {
		background-color: var.$gdcPurple;
		color: var.$white;
		border: 1px dashed var.$white;
	}
}

.btn-close-wrap {
	padding-bottom: 0.5rem;

	@media (min-width: 768px) {
		padding-top: 1rem;

	}
}


/* Social media icons */

.social-icon {
	width: 1.7rem;
	height: 1.7rem;
	margin-right: 0.7rem;
	fill: var.$gdcLightGray;
	@include var.transition;
}

a:hover .social-icon {
	fill: var.$gdcPurple;
}