@use "var";

/*---------------------------------------------------
	Utilities
---------------------------------------------------*/

.u-clearfix::before, 
.u-clearfix::after {
	display: table;
	content: '';
}

.u-clearfix::after {
	clear: both;
}

.u-relative {
  position: relative;
}

.u-textcenter {
	text-align: center;
}

.u-no-overflow {
	overflow: hidden;
}

.u-txt-white {
 color: var.$white;
}

.u-pbottom0 {
	padding-bottom: 0;
}

.u-mw100 {
	max-width: 100%;
	height: auto;
}

.u-mb-hide {
	@media (max-width: 767px) {
		display: none;
	}
}


// Content for screen readers 
.u-sr {
	position: absolute !important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}