/*---------------------------------------------------
	Variables and Mixins
---------------------------------------------------*/

$black: #000;
$white: #fff;
$gdcLightGray: #ccc;
$gdcGray: #747272;
$gdcPurple: #857a9b;

@mixin transition {
	transition: all 0.25s ease-in-out;
}

@mixin noPointer {
	&::before,
	&::after {
		pointer-events: none;
	}
}