/*---------------------------------------------------
  Base styles
---------------------------------------------------*/

@import './variables';


.container {
	padding: 1rem 2rem;

	@media (min-width: 991px) {
  	padding: 2rem 6rem;
	}
}

.inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
	@media (max-width: 767px) {
		flex-direction: column;
	}
}

.h2 + .inner {
	@media (min-width: 991px) {
		padding-top: 2rem;
	}
}

// reposition react-scroll anchor to accomodate sticky nav
.anchor {
	position: relative;
	top: -1.5rem;
}